{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/usermanagement/adminpanel.css">
{%  endblock %}


{% block content %}

    <div style="" class="button-box" >
        <a href="{% url 'new-user'%}" id="new-user-btn">
            <button>Brukeradministrasjon</button></a>

        <a href="{% url 'results-for-approval'%}" id="results-for-approval-btn">
            <button>Stevner til godkjenning</button>
        </a>

        <button>Rediger godkjente stevner</button>
        <button>Ikke-godkjente stevner</button>

    </div>
{% endblock %}

