{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/usermanagement/adminpanel.css">
{%  endblock %}


{% block content %}

    <div style="" class="button-box" >
        <a id="buttonLink" href="http://127.0.0.1:8000/admin/">
            <button>Brukeradministrasjon</button></a>
        <button>Stevner til godkjenning</button>
        <button>Rediger godkjente stevner</button>
        <button>Ikke-godkjente stevner</button>

    </div>
{% endblock %}

