<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'athlitikos/style/mainstyle.css' %}">

    {% block head %}
    {% endblock head %}

    <title> NVF </title>
</head>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">

</ul>

<body>
    {#    navbar#}
    <div class="navbar">
        <ul><a href="">Logo</a></ul>
    </div>

    {#    adds the content of the subpage#}
    {% block content %}
    {% endblock content %}
</body>