{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/static/css/approveresults.css">
    <script type="text/javascript" src="/static/js/approvegroup.js"></script>


{% endblock %}

{% block content %}

    <h1>Forhåndsvisning av pulje</h1>

    <button id="avbryt-btn" onclick="goBackToHome()">Avbryt</button>

    {% for group in groups %}
        <button id="approve-btn" onclick="approvePendingGroup({{ group.pk }})">Godkjenn</button>
    {% endfor %}

    {% for group in groups %}
    <button id="underkjenn-btn" onclick="rejectPendingGroup({{ group.pk }})">Underkjenn</button>
    {% endfor %}



    <div id="registered-results-container">



        <table id="result-table">

            <thead>

                <tr>
                    <th>Utøver</th>
                    <th>Kroppsvekt</th>
                    <th>Aldersgruppe</th>
                    <th>Vektklasse</th>
                    <th>Sinclair-koeffisient</th>
                    <th>Veteran-koeffisient</th>
                    <th>Alder</th>
                    <th>Beste clean-and-jerk</th>
                    <th>Beste snatch</th>
                    <th>Totalvekt</th>
                    <th>Poeng med Sinclair</th>
                    <th>Poeng med Veteran</th>
                    <th class="no-icon"><span class="actions"></span></th>
                </tr>

            </thead>

            {% for pending_result in pending_results %}

                <tr>
                    <th>{{ pending_result.lifter }}</th>
                    <th>{{ pending_result.body_weight }}</th>
                    <th>{{ pending_result.age_group }}</th>
                    <th>{{ pending_result.weight_class }}</th>
                    <th>{{ pending_result.sinclair_coefficient }}</th>
                    <th>{{ pending_result.veteran_coefficient }}</th>
                    <th>{{ pending_result.age }}</th>
                    <th>{{ pending_result.best_clean_and_jerk }}</th>
                    <th>{{ pending_result.best_snatch }}</th>
                    <th>{{ pending_result.total_lift }}</th>
                    <th>{{ pending_result.points_with_sinclair }}</th>
                    <th>{{ pending_result.points_with_veteran }}</th>
                    <th>

                    </th>
                </tr>

            {% endfor %}


        </table>
    </div>

{% endblock %}