
{% extends 'athlitikos/base.html' %}

{#{% block title %}Home{% endblock %}#}



{% block title %}Home{% endblock %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <script type="text/javascript" src="/static/js/home_club_official.js"></script>

{% endblock %}

{% block content %}

    <div class="content-wrapper">
        <h1>Forside klubbleder</h1>

        <div class="button-wrapper">
            <div class="button-column">
                <h3>Personer</h3>
                <button onclick="addNewLifter()">Ny løfter</button>
                <button onclick="addNewJudge()">Ny dommer</button>
            </div>
            <div class="button-column">
                <h3>Ny gruppe</h3>
                <button id="add-result-button">Legg til ny gruppe</button>
                <button id="add-competition-button">Legg til ny konkurranse</button>
            </div>
        </div>

        <h2>Mine resultater</h2>
    </div>

    <div id="registered-results-container">

        <table id="result-table" class="tablesorter">

            <thead>

                <tr>
                    <th>Konkurranse</th>
                    <th>Pulje nr.</th>
                    <th>Dato</th>
                    <th>Status</th>
                    <th class="no-icon"><span class="actions">Handlinger</span></th>
                </tr>

            </thead>


            {% for pending_group in pending_groups %}

                <tr>
                    <th>{{ pending_group.competition.competition_category }}</th>
                    <th>{{ pending_group.group_number }}</th>
                    <th>{{ pending_group.date }}</th>
                    <th>{{ pending_group.status }}</th>
                    <th>
                        <button onclick="editPendingGroup({{ pending_group.pk }})">Endre</button>
                        <button onclick="deletePendingGroup({{ pending_group.pk }})">Slett</button>
                    </th>
                </tr>

            {% endfor %}
        </table>

    </div>

{% endblock %}