
{% extends 'athlitikos/base.html' %}

{% block title %}Admin{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <script type="text/javascript" src="/static/js/home_admin.js"></script>

{% endblock %}

{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <h1>Forside administrasjon</h1>

    <div class="button-wrapper">
        <div class="button-column">
            <h3>Brukeradministrasjon</h3>
            <a href="http://127.0.0.1:8000/brukere/"> <button>Brukeradministrasjon</button></a>
{#            <button id="add-new-user-button" onclick="addNewUser()">Ny bruker</button>#}
{#            <button id="change-existing-user-button" onclick="usersList()">Endre eksisterende bruker</button>#}
        </div>
        <div class="button-column">
            <h3>Legg til</h3>
            <button id="add-result-button">Ny gruppe (konkurranse)</button>
            <button onclick="addNewLifter()">Ny løfter</button>
            <button onclick="addNewJudge()">Ny dommer</button>
        </div>
        <div class="button-column">
            <h3>Annet</h3>
            <button id="judge-statistic-button" onclick="judges()">Dommerstatistikk</button>
            <!-- ps kan noe fikse slik at ikke http://127.0.0.1:8000/ kommer i koden. -->
            <a href="http://127.0.0.1:8000/merge-lifters/"> <button>Sett sammen duplikate utøvere</button></a>
        </div>
    </div>

    <h2>Resultater</h2>
    <div id="registered-results-container">

        <table id="result-table" class="tablesorter">

            <thead>

                <tr>
                    <th>Konkurranse</th>
                    <th>Pulje nr.</th>
                    <th>Dato</th>
                    <th>Status</th>
                    <th>Innsendt av</th>
                    <th class="no-icon"><span class="actions">Handlinger</span></th>
                </tr>

            </thead>


            {% for pending_group in pending_groups %}

                <tr>
                    <th>{{ pending_group.competition.competition_category }}</th>
                    <th>{{ pending_group.group_number }}</th>
                    <th>{{ pending_group.date }}</th>
                    <th>{{ pending_group.status }}</th>
                    <th>{{ pending_group.author.first_name }} {{ pending_group.author.last_name }}</th>
                    <th>
                        <button class="ok-button" onclick="editPendingGroup({{ pending_group.pk }})">Endre</button>
                        <button class="cancel-button" onclick="deletePendingGroup({{ pending_group.pk }})">Slett</button>
                    </th>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}

