
{% extends 'base.html' %}

{% block head %}

    <script type="text/javascript" src="/static/js/resultregistration_v2.js"></script>

{% endblock %}

{% block content %}


    <form method="post">
    {% csrf_token %}

    {{ group_form }}

    {{ result_formset.management_form }}
    <table>

        <thead>
            <tr>
                <th>Utøver</th>
                <th>Klubb</th>
                <th>Fødselsdato</th>
                <th>Aldersgruppe</th>
                <th>Vektklasse</th>
                <th>Kroppsvekt</th>
                <th colspan="3">Støt</th>
                <th colspan="3">Rykk</th>
            </tr>
        </thead>

        <tbody>
            {% for form in result_formset %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                <tr>

                    {% for field in form.visible_fields %}
                        <td>
                        {{ field }}
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}

        </tbody>

    </table>

    <label>Feilmeldinger</label><li>
        {% for error in result_formset.non_form_errors %}
            <ul>
                {{ error }}
            </ul>
        {% endfor %}
    </li>

    <input type="submit">

    </form>

    <input type="button" value="Legg til utøver" id="add-lifter">
    <script>
        $('#add-lifter').click(function () {
            cloneMore('tr:last', 'form')
        })

        displayErrors("{{ result_formset.errors }}")
    </script>




{% endblock %}

