
{% extends 'base.html' %}

{% block head %}

    <script type="text/javascript" src="/static/js/resultregistration_v2.js"></script>

{% endblock %}

{% block content %}

    {{ lifter_form_set.management_form }}
    <table>

        <thead>
            <tr>
                <th>Utøver</th>
                <th>Vektklasse</th>
                <th>Kroppsvekt</th>
            </tr>
        </thead>

        <tbody class="class1">
            {% for form in lifter_form_set %}
                <tr class="class2">
                    <td class="lifter-input-field">{{ form.lifter }}</td>
                    <td>{{ form.weight_class }}</td>
                    <td>{{ form.body_weight }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <input type="button" value="Legg til utøver" id="add-lifter">
    <script>
        $('#add-lifter').click(function () {
            cloneMore('tr:last', 'form')
        })
    </script>



{% endblock %}

