
{% extends 'base.html' %}

{% block head %}

    <script type="text/javascript" src="/static/js/resultregistration_v2.js"></script>

{% endblock %}

{% block content %}

    <form method="post">
    {% csrf_token %}
    {{ result_formset.management_form }}
    <table>

        <thead>
            <tr>
                <th>Utøver</th>
                <th>Klubb</th>
                <th>Fødselsdato</th>
                <th>Kategori</th>
                <th>Kroppsvekt</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for form in result_formset %}
                <tr>
                    <td>
                        {{ form.lifter }}
                        {{ form.lifter_id }}
                        <div class="error-list"></div>
                    </td>

                    <td>
                        {{ form.club }}
                        {{ form.club_id }}
                        <div class="error-list"></div>
                    </td>

                    <td>
                        {{ form.birth_date }}
                    </td>

                    <td>
                        {{ form.category }}
                    </td>

                    <td>
                        {{ form.body_weight }}
                    </td>

                </tr>
            {% endfor %}

        </tbody>

    </table>
    <input type="submit">

    </form>

    <input type="button" value="Legg til utøver" id="add-lifter">
    <script>
        $('#add-lifter').click(function () {
            cloneMore('tr:last', 'form')
        })

        displayErrors("{{ result_formset.errors }}")
    </script>




{% endblock %}

