/*overwrites browser standard for padding and margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styling for input fields*/
input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
/*styling for submit-buttons*/
/*input[type=submit],*/
/*input[type=redirect],*/
.cancel-button {
    background-color: #cb1e1f;
    color: white;
}

/*input[type=submit]:hover,*/
/*input[type=redirect]:hover {*/
.cancel-button:hover {
    background-color: #9C191E;
}

.ok-button {
    background-color: green;
    color: white;
}

.ok-button :hover {
    background-color: darkseagreen;
}

h1 {
    text-align: center;
    padding: 2%;
}

