
.filter-button {
    background: rgba(0, 0, 0, 0.05) url(../icons/Cross.svg) no-repeat center right;
    border: none;
    padding: 5px 20px 5px 5px;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
}

.filter-button:hover {
    cursor: pointer;
}

.search-section {
    padding: 30px;
}

.query-fields-container, .date-filter-container {
    margin: 10px 0px 10px 0px;
}

.datepicker {
    width: 40%;
}

#age-group-selector, #weight-class-selector {
    display: none; /* These two element are hidden initially */
}

.search-selector {
    width: 150px;
}

.search-button {
    background-color: #cb1e1f;
    border: none;
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-text-fill-color: white;
    -moz-text-decoration-color: white;
}

.search-button:hover {
    background-color: #D95C5D;
}

.centered-horizontal {
    /* Horizontal centering */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%); /* IE 9 */
    -webkit-transform: translate(-50%, -0%); /* Chrome, Safari, Opera */
}

#result-table {
    width: 100%;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    font-weight: lighter;
    padding: 10px;
    padding-left: 0;
}

thead {
    box-shadow: 0px 2px 2px grey;
}

.tablesorter-header {
    font-weight: bold;
    background: no-repeat center right url(../icons/UpAndDownArrowBlack.svg);
}

.tablesorter-headerAsc {
    background-image: url(../icons/UpArrowBlack.svg);
}

.tablesorter-headerDesc {
    background-image: url(../icons/DownArrowBlack.svg);
}
