
.search-container {

    width: 90%;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%); /* IE 9 */
    -webkit-transform: translate(-50%, -0%); /* Chrome, Safari, Opera */

}