{% load static %}

<div class="navbar">
    <ul id="navbar-list">
        <li>
            <a href="#"> Logo </a>
        </li>
        <li>
            <a href="#" onclick="redirectToResults()">Resultater</a>
        </li>
        <li>
            <a href="#" onclick="redirectToCompetitions()">Stevner</a>
        </li>
        <li style="float:right">
            {% if request.user.is_authenticated %}
                <a onclick="redirectToHome()">Hjem</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <label>{{ request.user.get_full_name }}</label>
                <a href="#" onclick="logoutCurrentUser()">Logout</a>
            {% else %}
                <a href="#" onclick="login()">Login</a>
            {% endif %}

        </li>
    </ul>
</div>