{% load static %}

<div class="navbar">
    <ul id="navbar-list">
        <li>
            <img id="nvf-logo" {% load static %} src={% static 'athlitikos/images/NVFlogo.png' %} alt="Logo">
        </li>
        <li>
            <a href="#" onclick="redirectToResults()">Resultater</a>
        </li>
        <li>
            <a href="#" onclick="redirectToCompetitions()">Stevner</a>
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a id="home-button" onclick="redirectToHome()">Hjem</a>
            {% endif %}
        </li>
        <li id="logout-button">
            {% if request.user.is_authenticated %}
                <label id="logged-in-as-label">Logget inn som {{ request.user.get_full_name }}</label>
                <a href="#" onclick="logoutCurrentUser()">Logg ut</a>
            {% else %}
                <a href="#" onclick="login()">Logg inn</a>
            {% endif %}
        </li>
    </ul>
</div>