{% extends 'athlitikos/base.html' %}

{% block content %}
{#    uses standard styling for forms #}
    <h1>Resultater NVF</h1>

    <div class="form" id="loginform">
          <form method="post">
              {% csrf_token %}
{#              standard for sending form elements in django#}
              <div >
                  <label for="username">Epostadresse</label>
                  <div>
                      <input type="text" name="username" placeholder="brukernavn">
                  </div>
              </div>
              <div >
                  <label for="password">Passord</label>
                  <div>
                      <input type="password" name="password" placeholder="passord">
                  </div>
              </div>
{#              adds a submit button#}
              <button class="ok-button" type="submit" value="Logg inn">Logg inn</button>
          </form>
    </div>
{% endblock %}