<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
    {% block head %}
    {% endblock head %}
    <title> NVF </title>
</head>

<body>
    {#    navbar#}
    <div class="navbar">
        <ul><a href="#">Logo</a></ul>
    </div>
    {#    adds the content of the subpage#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block content %}
    {% endblock content %}

</body>