{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="/accounts/static/accounts/adminpanel.css">
{%  endblock %}


{% block content %}

    <div style="" class="button-box" >
        <a href="http://127.0.0.1:8000/ny-bruker/" id="buttonLink">
            <button>Brukeradministrasjon</button></a>
            <button>Stevner til godkjenning</button>
            <button>Rediger godkjente stevner</button>
            <button>Ikke-godkjente stevner</button>

    </div>
{% endblock %}

