
{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/css/search.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
        </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery.tablesorter.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/competitions.js"></script>
        <link rel="stylesheet" href="/static/css/competitions.css"/>
{%  endblock %}


{% block content %}


    <table class="tablesorter" id="competitions-table">

            <thead>

                <tr>
                    <th>Konkurranse</th>
                    <th>Arrangør</th>
                    <th>Puljer</th>
                    <th>Dato</th>
                </tr>

                <tbody>

                {% for competition in latest_competitions %}
                    <tr onclick="openCompetition({{ competition.pk}})">
                        <td>{{ competition.competition_category }}</td>
                        <td>{{ competition.host }}</td>
                        <td>
                            {% for group in competition.group_set.all %}
                                {{ group.group_number }},
                            {% endfor %}
                        </td>
                        <td>{{ competition.start_date }}</td>

                    </tr>

                {% endfor %}

                </tbody>

            </thead>

    </table>


{% endblock %}