
{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{%  endblock %}


{% block content %}

    <div class="search-container centered-horizontal">

        <h1>Søk etter resultater</h1>

        <form class="query-form" role="search" action="/search/">
            <div class="form-group">
                <input type="text" class="query-text-input" placeholder="Navn..." name="query_text">

                <select class="search-selector" name="club_id">
                    <option disabled selected value="">Velg klubb</option>
                    {% for club in clubs %}
                        <option value={{ club.pk }}>{{ club.clubName }}</option>
                    {% endfor %}
                </select>

                <select class="search-selector">
                    <option disabled selected value="">Velg vektklasse</option>
                </select>

                <select class="search-selector">
                    <option disabled selected>Velg kategori</option>
                </select>

                <input class="search-button" type="submit" value="Søk">

            </div>
         </form>





        <div class="search-results-container">

            {% for result in results %}

                <label>{{ result.lifter.first_name }} {{ result.lifter.last_name }}</label><br>

            {% endfor %}

        </div>

    </div>

{% endblock %}