
{% extends 'base.html' %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{%  endblock %}


{% block content %}

    <div class="search-container">

        <h1>Søk etter resultater</h1>

        <input type="text" value="Navn...">
        <select id="club-dropdown" class="search-selector">
            {% for club in clubs %}
                <option value={{ club }}>{{ club }}</option>
            {% endfor %}
        </select>

        <select class="search-selector"></select>
        <select class="search-selector"></select>

    </div>

{% endblock %}